@font-face {
  font-family: pretendard;
  src: url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap'); 
}

@font-face {
  font-family: Staatliches;
  src: url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
}