---
import Logo from "../../assets/icons/twince_logo.svg";
---

<a href="/" class="h-auto flex items-center mx-2">
  <Logo />
    <div class="font-black ml-2 pt-0.5">
      <p class="text-base/4 leading-[0.8]">TWINCE</p>
      <p class="text-[9px]">.BLOG</p>
    </div>
</a>